/*=============================================
=            COLOR PALETTE            =
=============================================*/

/* As hex codes */
.background-color-0 { background-color: #008AAA }	/* Main Primary color */
.background-color-1 { background-color: #000000 }
.background-color-2 { background-color: #005367 }
.background-color-3 { background-color: #06CEFD }
.background-color-4 { background-color: #A0EDFF }

.background-color-5 { background-color: #A7C2FF }	/* Main Primary color */
.background-color-6 { background-color: #FFFFFF }
.background-color-7 { background-color: #DCE6FF }
.background-color-8 { background-color: #7EA5FF }
.background-color-9 { background-color: #5588FD }
.background-color-10 { background-color: #456990 }

/* As RGBa codes */
.rgba-primary-0 { color: rgba(  0,138,170,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(  0,  0,  0,1) }
.rgba-primary-2 { color: rgba(  0, 83,103,1) }
.rgba-primary-3 { color: rgba(  6,206,253,1) }
.rgba-primary-4 { color: rgba(160,237,255,1) }

/*=====  End of COLOR PALETTE  ======*/


/*=============================================
=            Navigation menu            =
=============================================*/

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: fixed;
}

#navigation ul li {
    float: left;
    margin: 0;
}

#navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

@media (min-width: 750px) {
    
}


/*=====  End of Navigation menu  ======*/

.myPicture {
  content: url('../images/normal_me.jpg');
}

.myPicture:hover {
  content: url('../images/surprised_me.jpg');
}


/*=============================================
=            logo            =
=============================================*/

#logo {
    width: 50px;
    height: 50px;
    position: inherit;
}

#logo img {
    width: 50px;
    height: 50px;
}

/*=====  End of logo  ======*/


/*=============================================
=            Timeline            =
=============================================*/
.timeline {
    /*padding-left: 15px;     /*PA (Padding A)*/
}

.timeline-item {
    /*position: inherit;  /*This have to be inherit so I can place the circle*/
    padding: 10px;
}

.timeline-dot {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #456990;
    border-width: 2px;
    position:absolute; 
    top:0;
    bottom:0; 
    left: 0;
    margin-top:auto; 
    margin-bottom:auto; 
    margin-left:-25px;    /*-(PB+15)*/
}

/*=====  End of Timeline  ======*/


/*=============================================
=            Description            =
=============================================*/

.description p {
    font-size: 20px;
    margin: 10px;
}

.description h3 {
    margin: 10px;
    text-align: center;
}

/*=====  End of Description  ======*/



