
.myPicture {
  content: url('../images/normal_me.jpg');
}

.myPicture:hover {
  content: url('../images/surprised_me.jpg');
}

.container {
  background: #37c837;
}

body {
  
  background: #37c837; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #37c837, #98ec16);
  background: -moz-linear-gradient(right, #37c837, #98ec16);
  background: -o-linear-gradient(right, #37c837, #98ec16);
  background: linear-gradient(to left, #37c837, #98ec16); /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
        